<mat-card class="example-card" *ngIf="imageResized; else loadingImage">
  <mat-card-header>
    <mat-card-title>{{ image.date | date: 'MM/dd HH:MM' }}</mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="imageResized" [alt]="image.name" />
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="downloadImage()">Compartir</button>
  </mat-card-actions>
</mat-card>
<ng-template #loadingImage>
  <div fxLayout="row" fxLayoutAlign="center">
    <mat-spinner fxLayoutGap="10px"></mat-spinner>
  </div>
</ng-template>
